* {
  padding: 0px;
  margin: 0px;
}
#main_fon {
  height: 734px;
  background-image: url(fon.jpg);
  background-repeat: no-repeat;
  position: relative;
}
#signa {
  background-image: url(signa.png);
  background-repeat: no-repeat;
  top: 160px;
  left: 270px;
  position: absolute;
}
#passtitle {
  position: absolute;
  top: 40px;
  left: 10px;
}
.passtitle {
  position: absolute;
  font-family: "calibri";
  letter-spacing: 0.8em;
  word-spacing: 0.25em;
}

.gde {
  position: absolute;
  top: 75px;
  left: 110px;
}
.gde2 {
  position: absolute;

  top: 75px;
  left: 250px;
}
.data {
  position: absolute;
  top: 160px;
  left: 105px;
}
.kto {
  position: absolute;
  top: 160px;
  left: 295px;
}

.name {
  position: absolute;
  top: 464px;
  left: 210px;
}

.sname {
  position: absolute;
  top: 409px;
  left: 217px;
}

.otname {
  position: absolute;
  top: 490px;
  left: 220px;
}

.passfoto {
  position: absolute;
  top: 429px;
  left: 40px;
}

.gender {
  position: absolute;
  top: 520px;
  left: 210px;
}

.born {
  position: absolute;
  top: 520px;
  left: 300px;
}

.born1 {
  position: absolute;
  top: 550px;
  left: 220px;
}

.born2 {
  position: absolute;
  top: 570px;
  left: 200px;
}
